/* ----- Variables ----- */
:root {
  --bg-color: #ffffff;
  --primary-color: #1a1a1a;
  --secondary-color: #818181;
  --hover-color: #58a9ff;
  --error-color: #e75757;
  --success-color: #78ce8f;
  --box-shadow: 0px 0px 10px rgb(0 0 0/15%);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ----- main ----- */
main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  margin: auto 0;

  background-color: var(--bg-color);
}

/* ----- General container ----- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 25rem;
  width: 100%;
  min-width: 305px;

  min-height: fit-content;
}

/* ----- Form and User panel ----- */
.form,
.user-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1.5rem;

  padding: 0 2rem;

  width: 100%;
  height: 40rem;
}

/* ----- General button ----- */
.general-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 3.5rem;

  font-size: 1rem;
  font-weight: 400;

  border-radius: 5px;

  color: var(--bg-color);
  background-color: var(--primary-color);

  transition: all 300ms;

  &:hover {
    background-color: var(--hover-color);
  }
}
